 /* Base Styles */
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* Header Styles */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo-container {
  display: flex;
  align-items: center;
}
#header-img {
  width: 120px;
  height: 120px;
  margin: 0 10px;
}
/* Headings */
h1 {
  font-size: 3rem;
  font-family: 'Pirata One', cursive;
  color: #000;
}
/* Navigation */
nav > ul {
  display: flex;
  list-style-type: none;
}
nav > ul > li {
  font-size: 1.7rem;
  margin-right: 2rem;
}
/* Links */
.nav-link {
  text-decoration: none;
  color: #000;
}
.nav-link:hover {
  color: maroon;
}
/* Form Styles */
#form {
  margin: 2rem auto;
}
.form-title {
  margin-top: 210px;
}
/* Form Title and Heading */
.form-title, h2 {
  text-align: center;
  font-size: 2.3rem;
}
/* Email Input */
#email {
  display: block;
  width: 420px;
  padding: 1.3rem 1rem;
  margin: 0 auto;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}
/* Submit Button */
#submit {
  display: block;
  padding: 1.2rem 1rem;
  margin: 1.5rem auto 0;
  border: none;
  border-radius: 0.5rem;
  background-color: goldenrod;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
/* Video Container */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
#video {
  width: 65%;
  height: 450px;
  margin-bottom: 10px;
}
.video-container p {
  width: 70%;
  font-size: 1.4rem;
  text-align: center;
}
/* Features Section */
#features  {
  text-align: center;
  padding: 20px 0;
}
.feature-container {
  margin: 20px auto;
  max-width: 800px;
}
.feature-container .title {
  font-size: 2rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
  margin-left: 10px;
}
.feature-container p i {
  font-size: 2rem;
  margin-right: 10px;
  color: maroon;
}
.feature-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0 ;
  text-align: left;
}
.feature-container ul li {
  font-size: 1.6rem;
  padding: 10px 0;
  margin-left: 10px;
}
.feature-container p {
  font-size: 1.6rem;
  color: #333;
  text-align: left;
  margin-left: 10px;
}
/* Pricing Section */
#pricing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0;
}
.product-card {
    border: 1px solid #000;
    width: 30%;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
}
.product-card h3 {
  background-color: teal;
  color: #fff;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
}
.product-card .price {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 0;
  color: #333;
}
.product-card ul {
  list-style-type: none;
  padding: 0;
}
.product-card ul li {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.product-card .btn {
  width: 150px;
  background-color: goldenrod;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1.2rem;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
}
.product-card .btn:hover, #submit:hover {
  background-color: darkgoldenrod;
}
/* Footer Styles */
#footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}
#footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}
#footer ul li {
  font-size: 1.2rem;
  margin: 0 15px;
}
#footer a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
#footer p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 1rem;
}
.bold {
  font-weight: bold;
}
/* Responsive Styles for Mobile Phone and Tablet */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  #header, nav > ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav > ul > li {
    font-size: 1.1rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  #email {
    width: 80%;
    font-size: 1.1rem;
    padding: 1rem;
  }
  #submit {
    font-size: 1.1rem;
  }
  .form-title {
    font-size: 1.5rem;
    padding-top: 140px;
  }
  h2 {
    font-size: 1.9rem;
  }
  #video {
    width: 90%;
    height: auto;
  }
  .video-container p {
    font-size: 1.1rem;
  }
  .feature-container {
    width: 90%;
  }
  .feature-container .title, 
  .feature-container p i{
    font-size: 1.5rem;
  }
  .feature-container ul li, .feature-container p {
    font-size: 1.2rem;
  }
  #pricing {
    flex-direction: column;
    align-items: center;
  }
  .product-card {
    width: 90%;
  }
  .product-card h3, .product-card .price {
      font-size: 1.4rem;
  }
  .product-card ul li {
    font-size: 1.1rem;
  }
  .product-card .btn {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
  #footer {
    padding: 15px 0;
  }
  .footer-container {
    padding: 0 15px;
  }
  #footer ul {
    flex-direction: column;
    align-items: center;
  }
  #footer ul li {
    font-size: 1rem;
    margin: 10px 0;
  }
  #footer p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }  
}
  
   
  
  
  
    
  